{# empty Twig template #}

<head>
  <title>Page find - Sam</title>
</head>

<body>
  <h3>recherche par auteur</h3>
  <p>Auteur: {{ author }}</p> 
  <h2>résultat: </h2>
  <p>ID: {{ result.id }}</p>
  <p>titre: {{ result.title }}</p>
  <p>contenu: {{ result.content }}</p>
</body>