{# src/OC/PlatformBundle/Resources/views/Advert/view.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>page view</title>
  </head>
  <body>
    <p>
      <h1>Page Advert - view</h1>
    </p>
    <h2>id: {{ id }}</h2>
    <h2>tag: {{ tag }}</h2>
    <h2>name: {{ name }}</h2>
  </body>
</html>
